version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ashrafwebsite_app:latest
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./:/var/www/html
      - ./vendor:/var/www/html/vendor
      - ./node_modules:/app/node_modules
    depends_on:
      - db
    networks:
      - app-network


  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge
